*{
    color: white;
    text-decoration: none;
}

section{
    background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8)), url(../img/mantenimiento_4.jpg);
    background-size:cover;
    background-position: center center;
    height: 90vh;
    display: flex;
}

.contenedor-banner{
    display: flex;
    align-items: center;
    margin: auto 18px 5%;
    width: 100%;
}

.contenedor2{
    margin: 50px 0px 0px;
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.contenido {
    padding: 70px;
    justify-content: center;
    text-align: center;
}

strong{
    color: #000;
}

.title_page {
    color: white;
    font-size: 72px;
    line-height: 60px;
    position: static;
    padding: 30px;
    z-index: auto;
}

span{
    color: #000;
    font-size: 1.5em;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
.revision{
    color: #000;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.mantenimiento{
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    font-family: 'Inter', sans-serif;
    
}
.mantenimiento{
    display: flex;
    justify-content: center;
}
.mantenimiento p{
    width: 85%;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
/* mantenimiento */
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.txt h1{
    font-size: 30px;
    font-weight: 300;
    margin: 30px;
    font-family: 'Inter', sans-serif;
}
.txt p{
    font-size: 25px;
    font-weight: 250;
    margin: 30px;
    font-family: 'Inter', sans-serif;
}

.contenedor img{
    width: 400px;
    height: auto;
}

.contenedor2 img{
    width: 400px;
    height: auto;
}

.contenedor2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.txt2 h1{
    font-size: 30px;
    font-weight: 300;
    margin: 30px;
    font-family: 'Inter', sans-serif;
}
.txt2 p{
    font-size: 25px;
    font-weight: 250;
    margin: 30px;
    font-family: 'Inter', sans-serif;
}
.imagen{
    width: 800px;
    height: 600px;
    margin: 35px;
    justify-content: center;
}
.reserva{
    background-color: #F2F3F4;
    padding: 120px;
    padding-top: 50px;
}
.reserva span{
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    
    
}
.reserva img{
    padding-top: 25px;
    width: 70px;
}
.reserva  p{
    color: #000;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

main{
    box-sizing: border-box;
    padding: 20px 100px;
}

.contenido h1, p, h2,.contenido li{
    color: #000;
}

.telefono{
    color: #000;
}

.boton{
    display: flex;
    justify-content: center;
}

button{
    background-color: #0a141d;
    padding: 10px;
}

  
/* Pie de Pagina*/

.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box figure .img2{
    width: 200px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    font-family: 'Montserrat';
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
    font-family: 'Montserrat';
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #50E04B;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
    font-family: 'Montserrat';
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}